/* Cores do projeto */
.backgroundProjeto {
    background-color: #E1E1E1;
}

.colorPrimary {
    background-color: #C4C4C4;
}

.colorSecondary {
    background-color: #727272;
}

.colorBlack {
    background-color: black;
}

.colorYellow {
    /* background-color: #9c901e; */
    background-color: rgba(156,144,30,0.4);
}
/* transparencia */
.transparency1 {
    opacity: 0.5;
}

/* TEXTO */
/* Cor */
.textColorWhite {
    color: white;
}

.textColorGray {
    color: #4A4A4A;
}

.textColorBlack {
    color: black;
}

.textColorYellow {
    color: #c0b126;
}

.textColorRed {
    color: rgb(134, 30, 12);
}

/* Tamanhos */
.title1 {
    font-size: 30px;
}
.title2 {
    font-size: 20px;
}
.title3 {
    font-size: 20px;
}
.text1 {
    font-size: 20px;
}
.text3 {
    font-size: 20px;
}
/* Alinhamento */
.textCenter {
    text-align: center;
}


/* COMPONENTES */
/* LABELs */
.label1 {
    background-color: #727272;
}

.filtroLateral {
    right: auto;
}


/* lista Processos */
.listProcesso {
    color: black;
    text-decoration: none
}

.backgroundList:hover {
    background-color: rgba(156,144,30,0.4);
}

.listProcesso:hover {
    color: rgb(34, 34, 34);
}

/* a:link {
    color: #00F;
    background-color: rgb(56, 56, 54);
 }
   
 a:hover {
     color: #F00;
     background-color: rgb(39, 33, 126);
 }

 a:visited {
     color: #F00;
     background-color: rgb(39, 33, 126);
 } */

a:active {
    background-color: black;
}

/* buttons */

.buttonExcluir {
    color: rgb(34, 34, 34);
    background-color: rgba(156, 30, 30, 0.4);
}

.buttonEdit {
    color: rgb(34, 34, 34);
    background-color: rgba(156,144,30,0.4);
}